/*contact page*/
#contact-intro {
    text-align: center;
    margin: auto;
}

#contact-us {
    display: flex;
    gap: 20px;
    max-width: 900px;
    margin: auto;
}

.right {
    width: 30%;
    background-image: linear-gradient(to bottom right, #028090, #F7B32B);
    color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 0;
}

.right p {
    font-size: 1em;
}

#our-information ul {
    list-style: none;
    padding: 0;
}

#our-information ul li a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.left {
    width: 70%;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form textarea {
    height: 100px;
    resize: none;
}

/*form validation*/
.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

button#message.send-btn {
    padding: 10px;
    background-color: #0066ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

/*Mobile devices*/
@media only screen and (max-width: 1000px) {
    #contact-us {
        flex-direction: column;
        margin: 20px;
    }

    #contact-us .right {
        width: auto;
    }

    #contact-us .left {
        margin: auto;
    }
}