/*projects page*/
#project-intro p {
    padding: 0 400px;
}

#project-intro {
    text-align: center;
}

#projects {
    padding: 10px 20px;
}

#projects h3 {
    margin: 0;
}

#projects a {
    color: black;
}

#projects a:hover {
    color: blue;
}

.project-scroll {
    position: relative;
    display: flex;
    align-items: center;
    overflow: visible;
}

.dev-projects {
    display: flex;
    scroll-behavior: smooth;
    padding: 20px 10px;
    margin: 0 5px;
    overflow-x: auto;
}

.exercises, .assigns, .others {
    border: 3px solid black;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    text-align: center;
    position: relative;
    margin: 0 15px;
    overflow: hidden;
    padding: 10px;
}

.exercises p, .assigns p, .others p {
    margin-top: 0;
    font-size: 1em;
}

.exercises:hover, .assigns:hover, .others:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0);
}